In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/craigslist-vehicles/craigslist_vehicles.csv

In [1]:
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: <object object at 0x7b706c73e280>

In [12]:
dataset=pd.read_csv('/kaggle/input/craigslist-vehicles/craigslist_vehicles.csv')

In [13]:
dataset.head()

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,removal_date
0,362773,7307679724,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,NaN,...,NaN,NaN,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",NaN,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-05-02 00:00:00+00:00
1,362712,7311833696,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,NaN,...,NaN,NaN,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",NaN,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-04-28 00:00:00+00:00
2,362722,7311441996,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4900,2006.0,toyota,camry,excellent,...,sedan,silver,https://images.craigslist.org/00808_5FkOw2aGjA...,2006 TOYOTA CAMRY LE Sedan Ready To Upgrade ...,NaN,tx,32.453848,-99.787900,2021-04-23 00:00:00+00:00,2021-05-25 00:00:00+00:00
3,362771,7307680715,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,ford,expedition,NaN,...,NaN,NaN,https://images.craigslist.org/00M0M_i9CoFvVq8o...,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,NaN,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-04-26 00:00:00+00:00
4,362710,7311834578,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,ford,expedition,NaN,...,NaN,NaN,https://images.craigslist.org/00M0M_i9CoFvVq8o...,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,NaN,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-05-12 00:00:00+00:00

In [14]:
dataset.tail()

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,removal_date
426875,303849,7307070484,https://zanesville.craigslist.org/cto/d/zanesv...,zanesville / cambridge,https://zanesville.craigslist.org,5100,2009.0,NaN,saab 9-7x,fair,...,SUV,grey,https://images.craigslist.org/00b0b_dsIhheG86S...,For sale: 2009 Saab 9-7x Fair condition AWD ...,NaN,oh,39.937000,-82.031500,2021-04-15 00:00:00+00:00,2021-04-21 00:00:00+00:00
426876,303706,7314635557,https://zanesville.craigslist.org/cto/d/zanesv...,zanesville / cambridge,https://zanesville.craigslist.org,7500,2011.0,ford,f-450,good,...,bus,red,https://images.craigslist.org/00b0b_8lBfNkZ6pr...,"2011 E-Ford 450 with 177k miles, 6.8 liter v-1...",NaN,oh,39.927400,-82.004100,2021-04-30 00:00:00+00:00,2021-05-15 00:00:00+00:00
426877,303704,7314710341,https://zanesville.craigslist.org/cto/d/zanesv...,zanesville / cambridge,https://zanesville.craigslist.org,25000,2016.0,chevrolet,silverado,excellent,...,truck,blue,https://images.craigslist.org/00k0k_jw0Pda6LTk...,2013 Silverado excellent condition. Blue in co...,NaN,oh,39.896865,-82.042283,2021-04-30 00:00:00+00:00,2021-05-12 00:00:00+00:00
426878,303670,7316225330,https://zanesville.craigslist.org/cto/d/zanesv...,zanesville / cambridge,https://zanesville.craigslist.org,6,1986.0,NaN,camaro iroc z28,good,...,NaN,red,https://images.craigslist.org/00Y0Y_avlrYDn7OY...,"1986 Iroc Z28 , T-tops , 86,500 miles , has ne...",NaN,oh,39.938630,-82.006760,2021-05-03 00:00:00+00:00,2021-05-08 00:00:00+00:00
426879,303836,7308192431,https://zanesville.craigslist.org/cto/d/zanesv...,zanesville / cambridge,https://zanesville.craigslist.org,9795,1999.0,dodge,durango,like new,...,SUV,silver,https://images.craigslist.org/00J0J_fbgDQsCgfB...,"FOR SALE LIKE NEW 1999 DODGE DURANGO, LOADED W...",NaN,oh,39.998337,-82.022885,2021-04-17 00:00:00+00:00,2021-05-09 00:00:00+00:00

In [15]:
dataset.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'county', 'state', 'lat',
       'long', 'posting_date', 'removal_date'],
      dtype='object')

In [18]:
#columns to drop
columns_drop=['Unnamed:0','url','region_url','VIN','image_url','removal_date','lat','long']
#dropping only the columns existing in the dataframe
columns_existing=[i for i in columns_drop if i in dataset.columns]
#dropping the columns
dataset=dataset.drop(columns=columns_existing)
#handling the datatime
dataset['posting_date']=pd.to_datetime(dataset['posting_date'], utc=True)

dataset.head()

,Unnamed: 0,id,region,price,year,manufacturer,model,condition,cylinders,fuel,...,title_status,transmission,drive,size,type,paint_color,description,county,state,posting_date
0,362773,7307679724,abilene,4500,2002.0,bmw,x5,NaN,NaN,gas,...,clean,automatic,NaN,NaN,NaN,NaN,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",NaN,tx,2021-04-16 00:00:00+00:00
1,362712,7311833696,abilene,4500,2002.0,bmw,x5,NaN,NaN,gas,...,clean,automatic,NaN,NaN,NaN,NaN,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",NaN,tx,2021-04-24 00:00:00+00:00
2,362722,7311441996,abilene,4900,2006.0,toyota,camry,excellent,4 cylinders,gas,...,clean,automatic,fwd,NaN,sedan,silver,2006 TOYOTA CAMRY LE Sedan Ready To Upgrade ...,NaN,tx,2021-04-23 00:00:00+00:00
3,362771,7307680715,abilene,6500,2008.0,ford,expedition,NaN,NaN,gas,...,clean,automatic,NaN,NaN,NaN,NaN,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,NaN,tx,2021-04-16 00:00:00+00:00
4,362710,7311834578,abilene,6500,2008.0,ford,expedition,NaN,NaN,gas,...,clean,automatic,NaN,NaN,NaN,NaN,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,NaN,tx,2021-04-24 00:00:00+00:00

In [21]:
#checking missing values
dataset.isnull().sum()

Unnamed: 0           0
id                   0
region               0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
drive           130567
size            306361
type             92858
paint_color     130203
description         70
county          426880
state                0
posting_date        68
dtype: int64

In [ ]:
#handling missing data we use mean when working with numerical data and mode when woring with categorical data